/* Container Styles */
body{
	text-align:center;
	background-color:#3c3c3c;
	color:orange;
}

.container{
	display: flex;
	min-width:100%;
	min-height:100%;
	justify-content: center;
	
}


.header, .footer{
	min-height:20px;
	background-color:#1d1d1d;
	
}

.content  .col{
	
	background-color:blue;
	text-align:center;
}


#right, #left{
	background-color:#ffecef;
	min-width:20%;
	visibility:hidden;
}

#left{
	order:1;
}


#center{
	order:2;
	background-color:#1d1d1d;
	min-width:60%;
}

#right{
	order:3;
}


/* Content Styles */
.navList li{
	display:inline-block;
	padding-right: 50px;
}

.searchForm{
	float:right;
}
