/* Container Styles */
body{
	text-align:center;
}

.container{
	display: flex;
	color: orange;
	min-width:100%;
	min-height:100%;
	justify-content: center;
	background-color:gray;
}


.header, .footer{
	min-height:20px;
	background-color:#ff8f8f;
}

.content  .col{
	
	background-color:blue;
	text-align:center;
}


#right, #left{
	background-color:#ffecef;
	min-width:20%;
}

#left{
	order:1;
}


#center{
	order:2;
	background-color:pink;
	min-width:60%;
}

#right{
	order:3;

}


/* Content Styles */
.navList li{
	display:inline-block;
	padding-right: 50px;
}

.searchForm{
	float:right;
}
