body{
	text-align:center;
	background:#2f2f2f;
	margin:auto;
	color:white;
	font-family: Roboto, sans-serif;
	font-size:16px;
	font-weight:100;
}

/************ CONTAINTER STYLES *********/
.container{
	display: flex;
	flex-direction:row;
	height:auto;
	justify-content: center;
	
}

.container  .col{
	background-color:blue;
	text-align:center;
}

.box {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	align-content: space-between;
	position: relative;
	margin-top: auto;
  }

#right, #left{
	background: #ffd400;
	min-width:10%;

}

#left{
	order:1;
}


#center{
	order:2;
	background: #ffd400;
	min-width:80%;
	max-width:;
	overflow:auto;
}

#right{
	order:3;
}

@media only screen
and (max-width:800px) 
and (min-width: 100px)
{
	#center{
		min-width:100%;
	}
	#right, #left{
		visibility:hidden;
	}
	body{
	font-size:12px;
	}
	.container{
		width:100%;
	}
}

/************ END CONTAINER STYLES *********/

/************ CONTENT STYLES *********/

@media only screen
and (max-width:800px) 
and (min-width: 100px)
{
	body{
	font-size:12px;
	}
	.container{
		width:100%;
	}
	
	#welcome{
		word-wrap:normal;
	}
}

header, .footer{
	min-height:50px;
	background-color:#2f2f2f;
	display:block;
	width:100%;
}

header{
	height:5%;
	position:fixed;
	z-index:1;
}
.footer{
	height:5%;
	bottom:0;
	font-size:10px;
	justify-content:center;
}

.footer > p{
	text-align:center;
}

.logo{
	font-family:'Black Han Sans', sans-serif;
	float:left;
	margin:10 0 0 50;
	font-size:30px;
	display:inline-block;
}

#welcome{
	color:#ff3664;
	font-weight:bold;
	font-size:50;
	background:rgba(255, 255, 255, 0.53);
	height:auto;
	width:100%;
	letter-spacing:10px;
}

.navList{
	position:absolute;
	top:-10px;
	left:210px;
}

.navList li{
	display:inline-block;
	margin:20 0 0 20;
}

.navList a{
	text-decoration:none;
	color:white;
}

.loginForm{
	font-family: Roboto, sans-serif;
}

.loginForm > .em, .pw{
	width:100px;
}

.loginForm > .pw{
	
	margin-left:10px;
}

a:visited{
	color:white;
}

a:hover{
	color:#ff3664;
}

.content{
	width:100%;
	min-height:100%;
	overflow:auto;
	display:block;
}


.searchForm{
	float:right;
	display:block;
	margin:0px 20px 0 0;
}

.searchBar, .searchButton{
	font-family: Roboto, sans-serif;
}

#login:hover{
	cursor:pointer;
}

.songlist{
	padding-top:30px;
	width:100%;
	max-height:90%;
}

.player{
	width:65;
}

.player:hover, .logo:hover{
	cursor:pointer;
}

.songTable{
	border-collapse:collapse;
	width:95%;
	text-align:left;
	margin:0 2.5% 0 2.5%;
	font-size:14px;
	color:black;
}
td, tr{
	width:100px;
}

td{
	height:8vh;
}
.songTable, th, td{
	border-bottom:1px solid rgba(255, 255, 255, 0.53);
}


/************ END CONTENT STYLES*********/




/************ END *********/